{% include "header.html" %}
<div class="tof">
  <div class="container">
    <div class="stack" style="--stacks: 3;">
     <span style="--index: 0;">About</span>
     <span style="--index: 1;">About</span>
     <span style="--index: 2;">About</span>
    </div>
  </div>
</div>

<h3 class="text-center mt">Introduction</h3>
<div>
    <div>
        <div>
            <p class="text-center nor-par"> I'm a lifelong learner with a deep passion for Python and programming.
                I thrive on continuous improvement and am always exploring new technologies and techniques.
                When I'm not coding, you'll find me diving into the world of video games,
                which fuels my creativity and problem-solving skills. Join me on my journey as I share my projects and
                experiences in the ever-evolving tech landscape. </p>
        </div>
    </div>
</div>
<hr>
<h3 class="text-center mt">Background</h3>
<div>
    <div>
        <div>
            <p class="text-center nor-par">Ever since I was a kid, I've
            always been interested in everything regarding computer technologies, IT and gaming. Since I have so
            much passion towards it, I decided to make it my profession, so in 2018 I graduated in electrical
            engineering, and I’m constantly learning and pushing forward to pursue my dreams.</p>
        </div>
    </div>
</div>
<hr>
<h3 class="text-center mt">Skills</h3>
<div>
    <div>
        <div>
            <p class="text-center nor-par">
                <b>Programming/Web Development:</b> Python, Flask, Bootstrap, Requests, APIs, HTML, CSS, Git, GitHub, SQLite.
            </p>
            <p class="text-center nor-par">
                <b>Data:</b> Pandas, Matplotlib, NumPy, Plotly, Seaborn, Scikit Learn.
            </p>
            <p class="text-center nor-par">
                <b>Web Scraping:</b> Selenium, BeautifulSoup.
            </p>
            <p class="text-center nor-par">
                <b>AND ALWAYS LEARNING</b>
            </p>
        </div>
    </div>
</div>
<hr>
<h3 class="text-center mt">Languages</h3>
<br>
<div class="mb">
    <div>
        <div>
            <p class="text-center nor-par">
                <b>Slovak:</b> Native.
            </p>
            <p class="text-center nor-par">
                <b>Czech:</b> Bilingual Proficiency.
            </p>
            <p class="text-center nor-par">
                <b>English:</b> Professional Proficiency.
            </p>
            <p class="text-center nor-par">
                <b>Finnish:</b> Beginner.
            </p>
        </div>
    </div>
</div>
{% include "footer.html" %}