{% include "header.html" %}
<div class="tof">
  <div class="container">
    <div class="stack" style="--stacks: 3;">
     <span style="--index: 0;">Contact me</span>
     <span style="--index: 1;">Contact me</span>
     <span style="--index: 2;">Contact me</span>
    </div>
  </div>
</div>

<div class="mtb">
    <div>
        <div>
            <p class="text-center nor-par">
                <b>E-mail:</b> marko.kornajcik6@gmail.com
            </p>
            <p class="text-center nor-par">
                <a href="https://www.linkedin.com/in/marko-kornajcik-2312131b3/">LinkedIn</a>
            </p>
        </div>
    </div>
</div>
{% include "footer.html" %}
